@inherits LayoutComponentBase


<div class="page">
    <main>
        <div class="top-row px-4">
            <a href='javascript:;'  onclick='alert("Рабочий календарь v.0.1");'>О программе</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
